build/
doc/html/
xcuserdata
doxygen_objdb_*
.DS_Store

*~
*.link
*.a
*.o
*.so
*.slo
*.lo
*.lai
*.la
*.lib
*.spec
*.d
*.framework
*.perspectivev3
*.pbxuser
*.mode1v3
*.xcworkspace
*.tm_build_errors
*.ncb
*.suo
*.vcproj.*
*.wwdb
